#skincare-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 0;
}

/* Each Product Card */
.skincare{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

/* Product Image */
.skincare img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
/* Typography */
.skincare h2 {
    font-size: 1.1rem;
    margin: 8px 0;
}

